<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2jc9AzqFsXsbli1_r7b0kBeILtkG7pQU</string>
	<key>GCM_SENDER_ID</key>
	<string>933845628166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gyudsoft</string>
	<key>PROJECT_ID</key>
	<string>gorevdeyukselme-3d32f</string>
	<key>STORAGE_BUCKET</key>
	<string>gorevdeyukselme-3d32f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933845628166:ios:4747ba3515a29240219a87</string>
</dict>
</plist>